/* PC 및 태블릿 가로 */
html {
    font-size: 16px;
}
/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Gowun Dodum', sans-serif;

}

/*수량버튼*/

.number a{
    text-decoration: none;
}


/*쇼핑몰 목록*/
a, em, address{
    text-decoration-line: none;
    text-decoration:none;
    font-style: normal;
}
ul,ol{
    list-style: none;
}


.wrap{  
    width:65%;
    margin: 0 auto;
}

.fixed_img_col ul{  
    padding:10px; 

}

.fixed_img_col li{
    float:left;
    width:200px;
    height:200px;  
    padding : 0px;

}

.fixed_img_col li a{
    display: block;
}

.fixed_img_col li a .thumb{
    position:relative;
    display: block;
    background-color: #ccc;
    height:200px; color: rgb(218, 35, 35);
    text-align: center;
}

.fixed_img_col li a .thumb em{

    display: none;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%; 
    color:#eee;
    background-color: rgba(128, 111, 111, 0.308);
    font-weight: bold;
    text-align:center;
line-height: 200px;

}

.fixed_img_col li a{

text-decoration:none;

}

.fixed_img_col li a:hover .thumb em{
    display: block;
}

.fixed_img_col li a strong{
    display: block;
    padding : 8px 0 4px;
    color : #333;
    font-weight: bold;
    line-height: 1.4;
}

.fixed_img_col li a:hover{
    text-decoration: none;
}

.fixed_img_col li p{
    color: rgb(209, 39, 39);
    font-size : .9em; 
}
/*쇼핑몰 목록 끝*/

 
/* 팝업창*/
.popup_btn a {
    display: inline-block;
    padding: 20px;
    background: rgb(140, 195, 247);
    color: #fff;
    text-decoration: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    position: relative;
    width: 60%;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 10000;
  }
  
  .popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
  }
  
  .popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
  }
  
  .popup .close:hover {
    color: #00E5EE;
  }
/* 팝업창 끝*/



.fs-4{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 600;
    text-align: center;
  
} 

.nav-link{
      font-family: 'Jua', sans-serif;
      color:rgb(4, 106, 139);
}
.nav-link:hover {
    font-family: 'Jua', sans-serif;
    color:rgb(216, 42, 129);
}
.dot{
    font-family: 'Jua', sans-serif;
}

header{
    background-color: aliceblue;
    position: fixed; width:100%; z-index:9999; top:0; left:0;
    opacity:0.9;
    
font-family: 'Jua', sans-serif;
}

.half-highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #6cebfcc9 50%);
  }

.wavy{
    border-bottom: #6cebfcc9  1px wavy;
}

body {
    /* font-size: 12px; */
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333;

}
h1, h3 {
    padding-bottom: 15px;  
    
font-family: 'Jua', sans-serif;  
}
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.content-wrapper {
    width: 100%;
    height: 100%;        
    margin: 0 auto;
    display: table;
    
}
.content {
    display: table-cell;
    vertical-align: middle;
}
/* End Global Styles */

/* Start Nav Styles */
.navbar {
    position: fixed !important;
    z-index: 999;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    opacity:0.8;}

.navbar .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar .nav-menu li {
    position: relative;
    min-width: 200px;
    text-align: right;
    margin: 5px 0;
}
.navbar .nav-menu li .dot {
    display: block;
    color: #fff;
}
.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;  
    top: 50%;  
    transition: all .3s ease;
}
.navbar .nav-menu li .dot::before {
    width: 5px;
    height: 5px;
    right: 0;
    border: 2px solid #888;
    transform: translateY(-50%);
}
.navbar .nav-menu li .dot::after {
    width: 15px;
    height: 15px;
    border: 2px solid #444;
    right: -5px;
    transform: translateY(-50%) scale(0);
}
.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
    background: #444;
    border-color: #444;
}
.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
    transform: translateY(-50%) scale(1);  
}
.navbar .nav-menu li .dot span {
    display: inline-block;
    opacity: 0;
    text-transform: capitalize;
    background-color: #dfb9ec;
    padding: 8px 14px;
    border-radius: 3px;
    margin-right: 30px;
    transform: translateX(20px);
    transition: all .3s ease; 
}
.navbar .nav-menu li .dot span::before {
    display: block;
    position: absolute;
    content: '';
    border-left: 7px solid #dfb9ec;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 50%;
    transform: translate(7px, -50%);
    right: 0;
    transition: all .3s ease;
}
.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}
/* End Nav Styles */
.content2 {
    /* 영역 */
    float: left;
    width: 50%; 
    background-color: rgba(153, 205, 50, 0);

    /* 글꼴 - em */
    /* font-size: 1.5em; */

    /* 글꼴 - rem */
    font-size: 2rem;
}
/* 가변 이미지 */
.content img {
    max-width: 100%;
    height: auto;
}
.right-side {
    /* 영역 */
    float: right;
    width: 50%; 
    background-color: rgba(255, 99, 71, 0.007);

    font-family: 'Gowun Dodum', sans-serif;
    /* 글꼴 - em */
    /* font-size: 1.5em; */

    /* 글꼴 - rem */
    font-size: 14px;
}


.content3 {
    /* 영역 */
    float: right;
    width: 50%; 
    background-color: rgba(153, 205, 50, 0);

    /* 글꼴 - em */
    /* font-size: 1.5em; */

    /* 글꼴 - rem */
    font-size: 2rem;
}
/* 가변 이미지 */
.content img {
    max-width: 100%;
    height: auto;
}
.right-side3 {
    /* 영역 */
    float: left;
    width: 50%; 
    background-color: rgba(255, 99, 71, 0.007);

    font-family: 'Gowun Dodum', sans-serif;
    /* 글꼴 - em */
    /* font-size: 1.5em; */

    /* 글꼴 - rem */
    font-size: 14px;
}


/* Start section1 */
#section1 {
    width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/891683/pexels-photo-891683.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center;
    background-size: cover;        
}
#section1 .content-wrapper {
    min-height: 950px;
}    
#section1 button {
    border: 2px solid #fff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    /* padding: 14px 40px; */
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease;
    margin-top: 20px;
    color: #fff;
}
#section1 button:hover {
    color: #ff6f6f;
}
#section1
.content {
    color: #fff;
}
#carousel-control-next {
    border: 0 !important;
}
#carousel-control-prev {
    border: 0 !important;
} 
/* End section1 */

/* Start section2 */
#section2
#section2 .content-wrapper {min-height: 1000px;}    
/* End section2 */

/* Start section3 */
#section3 {
    background-color: #ece3ef;
}
#section3 .content-wrapper {
    min-height: 950px;
}
/* End section3 */

/* Start section4 */
#section4
#section4 .content-wrapper {
    min-height: 900px;
}
/* End section4 */

/* Start section5 */
#section5 {
    background-color: #666;
    color: #fff;
}
#section5 .content-wrapper {
    min-height: 600px;
}
/* End section5 */

/* Start Footer */
footer {
    padding: 40px 0;
    background-color: #333;
    color: #fff;
}
/* End Footer */


@media screen and (max-width:1023px) {
    /* 태블릿 세로 */
    
}
@media screen and (max-width:767px) {
    /* 모바일 가로 */
    
}
@media screen and (max-width:479px) {
    /* 모바일 세로 */
    
}
